#app {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: 20px;
  padding-top: 0px;
}
.jumbotron {
  width:100%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-inline-start: 0%;
  padding-inline-end: 0%;
  background-color: #ffda22;;
  border-radius: 15px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:xx-large;
  box-shadow:  5px #e3e2e2;

}
.jumbotron2 {
  width:100%;
  padding-top: 0%;
  padding-bottom: 2%;
  padding-inline-start: 0%;
  padding-inline-end: 0%;
  border-radius: 10%;
  background-color: rgb(255, 255, 255);;
  border: 3px solid rgb(53, 87, 166);
  text-align: center;

}
.container text-center{
  padding: 0%;
  padding-inline-end: 0;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


.image-frame {
  width: 200px;
  height: 150px;
  margin: 10px; 
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.image-frame img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
  border-radius: 5px;
}

.delete-button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}
